<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oprogramowanie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragments :: menu('software')}"></div>
<div class="container">
    <ul class="list-group" th:object="${softwareItem}">
        <h2 class="text-center" th:text="*{softwareName}"></h2>
        <li class="list-group-item">Nazwa: <span th:text="*{softwareName}"></span></li>
        <li class="list-group-item">Opis: <span th:text="*{softwareDescription}"></span></li>
    </ul>

    <br><a th:href="@{/software-list}">Powrót do listy</a>
</div>
<div th:insert="~{fragments/fragments :: footer}"></div>
</body>
</html>