<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Użytkownik - edytuj</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragments :: menu('admin')}"></div>
<div class="container">
    <h2 class="fs-3">Edytuj użytkownika</h2>
    <form method="POST" th:object="${user}" th:action="@{'/user/edit/' + ${user.id}}" class="mb-3">
        <p th:if="${errorEmailOrUsername == true}" th:text="${'Podana nazwa użytkownika lub adres e-mail, znajduje się już w bazie'}" class="alert alert-warning" role="alert"></p>

        <input type="hidden" th:field="*{id}" th:value="*{id}">
        Nazwa użytkownika: <input type="text" th:field="*{username}" th:value="*{username}" class="form-control"><br>
        <p th:if="${#fields.hasErrors('username')}" th:each="err : ${#fields.errors('username')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

        Imię: <input type="text" th:field="*{name}" th:value="*{name}" class="form-control"><br>
        <p th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

        Nazwisko: <input type="text" th:field="*{surname}" th:value="*{surname}" class="form-control"><br>
        <p th:if="${#fields.hasErrors('surname')}" th:each="err : ${#fields.errors('surname')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

        Hasło: <input type="password" th:field="*{password}" th:value="*{password}" placeholder="Wprowadz '-', jeśli hasło ma pozostać bez zmian" class="form-control"><br>
        <p th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

        Powtórz hasło: <input type="password" th:field="*{passwordConfirm}" th:value="*{passwordConfirm}" placeholder="Wprowadz '-', jeśli hasło ma pozostać bez zmian" class="form-control"><br>
        <p th:if="${#fields.hasErrors('passwordConfirm')}" th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

        E-mail: <input type="email" th:field="*{email}" th:value="*{email}" class="form-control"><br>
        <p th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

        Role: <select th:field="*{roles}" class="form-select">
            <option th:each="prov : ${rolesList}"
                    th:value="${prov.id}"
                    th:text="${prov.type}"></option>
            </select><br>

        <input type="submit" value="Prześlij zmiany" class="btn btn-primary">
    </form>
</div>
<div th:insert="~{fragments/fragments :: footer}"></div>
</body>
</html>