<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Wsparcie techniczne - użytkownicy</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragments :: menu('admin')}"></div>
<div class="container">
  <h2 class="text-center">Użytkownicy</h2>
  <div th:insert="~{fragments/search :: searchUser}"></div>
  <table class="table" th:if="${#arrays.length(user)}">
    <thead class="table-light">
    <tr>
      <th scope="col">Akcja</th><th scope="col">Nazwa użytkownika</th><th scope="col">Imię nazwisko</th><th scope="col">E-mail</th><th scope="col">Aktywny</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="k : ${user}">
      <td>
        <div><a th:href="@{'/user/edit/'+${k.id}}">Edytuj</a></br></div>
        <div><a th:href="@{'/user/delete/'+${k.id}}">Usuń</a></br></div>
        <div th:if="${k.enabled == false}"><a th:href="@{'/activate/'+${k.id}}">Aktywuj</a></br></div>
      </td>
      <td th:text="${k.username}"></td>
      <td th:text="${k.name + ' ' + k.surname}"></td>
      <td th:text="${k.email}"></td>
      <td>
        <span th:if="${k.isEnabled() == true}">Tak</span>
        <span th:if="${k.isEnabled() == false}">Nie</span>
      </td>
    </tr>
    </tbody>
  </table>

  <div th:if="${#lists.isEmpty(user)}" class="text-center text-warning"><h3>Brak elementów na liście</h3></div>
</div>
<div th:insert="~{fragments/fragments :: footer}"></div>
</body>
</html>