<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>

<div th:fragment="menu(param1)">
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <h1 class="text-center">Wsparcie techniczne</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:classappend="${param1 eq 'home'}?'active'">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/knowledge-base}" th:classappend="${param1 eq 'knowledge'}?'active'">Baza wiedzy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/software-list}" th:classappend="${param1 eq 'software'}?'active'">Wspierane oprogramowanie</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/my-tickets}" th:classappend="${param1 eq 'ticket'}?'active'">Zgłoszenia</a>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('OPERATOR')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:classappend="${param1 eq 'operator'}?'active'">
                            Panel Operatora
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/tickets}">Zgłoszenia</a>
                            <a class="dropdown-item" th:href="@{/category-list}">Kategorie</a>
                            <a class="dropdown-item" th:href="@{/priority-list}">Priorytety</a>
                            <a class="dropdown-item"th:href="@{/status-list}">Statusy</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:classappend="${param1 eq 'admin'}?'active'">
                            Panel Administratora
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" th:href="@{/user}">Użytkownicy</a>
                            <a class="dropdown-item" th:href="@{/user/add}">Dodaj użytkownika</a>
                            <a class="dropdown-item" th:href="@{/category/add}">Dodaj kategorię</a>
                            <a class="dropdown-item" th:href="@{/priority/add}">Dodaj priorytet</a>
                            <a class="dropdown-item" th:href="@{/status/add}">Dodaj status</a>
                            <a class="dropdown-item" th:href="@{/knowledge/add}">Dodaj wpis do bazy wiedzy</a>
                            <a class="dropdown-item" th:href="@{/ticket/add}">Dodaj zgłoszenie</a>
                            <a class="dropdown-item" th:href="@{/software/add}">Dodaj oprogramowanie</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:classappend="${param1 eq 'user'}?'active'">
                            Panel użytkownika
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" th:href="@{/profile}">Moje konto</a>
                            <a class="dropdown-item" th:href="@{/ticket/add}">Dodaj zgłoszenie</a>
                        </div>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated() == false">
                        <a class="nav-link" th:href="@{/register}" th:classappend="${param1 eq 'register'}?'active'">Zarejestruj</a>
                    </li>
                    <li class="nav-item" sec:authorize=" isAuthenticated()">
                        <form th:action="@{/logout}" id="logout" th:method="post">
                            <button type="submit" class="btn btn-warning">Wyloguj</button>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated() == false">
                        <a class="nav-link" th:href="@{/login}" th:classappend="${param1 eq 'login'}?'active'">Zaloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</div>

<div th:fragment="footer">
    <br>
    <footer class="text-center">
        © 2022 Platformy programowania
    </footer>
</div>

</body>
</html>