<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .container {
                padding: 20px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
            }
            h1 {
                color: #333;
            }
            a {
                color: #1a73e8;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>You have successfully created an account.</h1>
            <div>
                <span th:text="${username + ' '}"></span>thank you for registration.
            </div>
        </div>
    </body>
</html>