<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .container {
                padding: 20px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
            }
            h1 {
                color: #333;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Status of your ticket has been changed</h1>
            <div>
                Ticket named "<span th:text="${ticketName + ' '}"></span>" now has a status of <span th:text="${' ' + status}"></span>.
            </div>
            <div>Visit the website to check the ticket.</div>
        </div>
    </body>
</html>