<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Status - edytuj</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragments :: menu('admin')}"></div>
    <div class="container">
        <h2 class="fs-3">Edytuj status</h2>
        <form method="POST" th:object="${status}" th:action="@{'/status/edit/' + ${status.statusID}}" class="mb-3">
            <input type="hidden" th:field="*{statusID}" th:value="*{statusID}">
            Nazwa: <input type="text" th:field="*{statusName}" th:value="*{statusName}" class="form-control"><br>
            <p th:if="${#fields.hasErrors('statusName')}" th:each="err : ${#fields.errors('statusName')}" th:text="${err}" class="alert alert-warning" role="alert"></p>

            <div class="form-check">
                <input type="checkbox" th:field="*{closeTicket}" th:value="*{closeTicket}" class="form-check-input" id="checkbox">
                <label class="custom-control-label" for="checkbox">Zamyka zgłoszenie</label>
            </div><br>

            <input type="submit" value="Prześlij zmiany" class="btn btn-primary">
        </form>
    </div>
    <div th:insert="~{fragments/fragments :: footer}"></div>
</body>
</html>