<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Wsparcie techniczne - statusy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragments :: menu('operator')}"></div>
<div class="container">
    <h2 class="text-center">Statusy</h2>
    <table class="table" th:if="${#arrays.length(status)}">
        <thead class="table-light">
            <tr>
                <th scope="col">Akcja</th><th scope="col">Nazwa</th><th scope="col">Zamyka zgłoszenie</th><th scope="col">Liczba zgłoszeń</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="k,iter : ${status}">
                <td>
                    <div sec:authorize="hasRole('ADMIN')"><a th:href="@{'/status/edit/'+${k.statusID}}">Edytuj</a></br></div>
                    <div sec:authorize="hasRole('ADMIN')" th:if="${#arrays.length(status) > 1 and use[iter.index]==0}"><a th:href="@{'/status/delete/'+${k.statusID}}">Usuń</a></br></div>
                </td>
                <td th:text="${k.statusName}"></td>
                <td>
                    <span th:if="${k.closeTicket == true}">Tak</span>
                    <span th:if="${k.closeTicket == false}">Nie</span>
                </td>
                <td th:text="${use[iter.index]}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${#lists.isEmpty(status)}" class="text-center text-warning"><h3>Brak elementów na liście</h3></div>
</div>
<div th:insert="~{fragments/fragments :: footer}"></div>
</body>
</html>