<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Wsparcie techniczne - baza wiedzy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragments :: menu('knowledge')}"></div>
<div class="container">
    <h2 class="text-center">Baza wiedzy</h2>
    <div th:insert="~{fragments/search :: searchKnowledge}"></div>
    <table class="table" th:if="${#arrays.length(knowledgeBase)}">
        <thead class="table-light">
            <tr>
                <th scope="col">Akcja</th><th scope="col">Tytuł</th><th scope="col">Oprogramowanie</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="k : ${knowledgeBase}">
                <td>
                    <div sec:authorize="hasRole('ADMIN')"><a th:href="@{'/knowledge/edit/'+${k.knowledgeID}}">Edytuj</a></br></div>
                    <div sec:authorize="hasRole('ADMIN')"><a th:href="@{'/knowledge/delete/'+${k.knowledgeID}}">Usuń</a></br></div>
                    <a th:href="@{'/knowledge-base/'+${k.knowledgeID}}">Pokaż</a>
                </td>
                <td th:text="${k.knowledgeTitle}"></td>
                <td th:text="${k.software.softwareName}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${#lists.isEmpty(knowledgeBase)}" class="text-center text-warning"><h3>Brak elementów na liście</h3></div>
</div>
<div th:insert="~{fragments/fragments :: footer}"></div>
</body>
</html>